.buy{
    padding: 12px 50px;
    border-radius: 20px;
    background-color: lightgreen;
}

.buy:hover{
    background-color: green;
}

.icon-data{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 50%;
}

.icon-data:hover{
    background-color:rgb(9, 201, 201);

}
.amount{
    padding: 12px 0;
}
.textlsize{
    font-size: larger;
}